/* * {
    border: 1px dashed red;
} */

body {
    display: block;
    align-items: center;
    justify-content: center;
    font-family: system-ui, sans-serif;
    background: dimgrey;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, sans-serif;
    /* background: gainsboro; */
}

#introDisplay{
    display: flex;
}

#topPanel{
    align-items: center;
    border: blue;
    margin: 0;
}

#topPanelFlex{
    display: flex;
    justify-content: space-between;
    border: blue;

}

#diffSelector{
    display: block;
}

#display{
        padding: 0;
        width: 120px;
        height: 65px;
        cursor: pointer;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        background-color: gray;
        border-radius: 15px;
        border: 1px solid #ffffff;
        flex-grow: 4;
}

.cards {
    display: flex;
    justify-content: space-evenly;

}
.button {
    padding: 0;
    width: 120px;
    height: 180px;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: gray;
    border-radius: 15px;
    border: 1px solid rgb(255, 60, 60);
}

.flex-table {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: system-ui, sans-serif;
        background: gainsboro;    
}

/* .created-li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: system-ui, sans-serif;
    background: gainsboro;
} */

/* div {
    display: flex;
} */

.created-button {
    padding: 0;
    width: 120px;
    height: 180px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    color: #ffffff;
    background-color: darkgrey;
    border-radius: 15px;
    border: 1px solid rgb(255, 60, 60);
}

.created-section {
        display: inline;
            justify-content: space-evenly;
}

.created-ul {
    display: flex;
    justify-content: space-evenly;
}

.button-one .button-two .button-three {
    cursor: pointer;
}
.hidden-text {
    color: rgba(60, 179, 113, 0)
}
.selected-button {
    background: yellowgreen;
    color: whitesmoke;
}

.bool-true {
    background: green;
    
}

.scoreboard {
        display: flex;
        justify-content: space-evenly;
        flex-grow: 4
}

